*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    width: 50%;
    height: 50vh;
}
.show{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: cadetblue;
    width: 50%;
    height: 50vh;
}
#price{
    border: 0;
    font-size: 20px;
    padding:5px;
    outline: none;
    border-radius:5px ;
    -webkit-border-radius:5px ;
    -moz-border-radius:5px ;
    -ms-border-radius:5px ;
    -o-border-radius:5px ;
}
.slidecontainer {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
  
  .slider {
    -webkit-appearance: none;
    appearance: none;
    width: 80%;
    height: 10px;
    background: white;
    outline: none;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0080ff;
    cursor: pointer;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
